@model WoodULike.Models.WoodProject

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WoodProject</h4>
    <hr />
    <dl class="dl-horizontal">
       
       
        <dt>
            
           @Html.DisplayNameFor(model => model.ProjectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectTitle)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>

        <dd>
         
            <img src="@Model.getCorrectUrl(Html.ValueFor(model => model.ImageURL).ToString())" id="WoodProjectDetailImg" />
            
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PublishDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PublishDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectType)
        </dd>
        
        @foreach (var x in Model.ImageFiles)
        {
            <img src="@x.getCorrectUrl(x.Directory)" id="WoodProjectDetailImg" />
        }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


