@model WoodULike.ViewModels.WoodProjectsWithUsername

@{
    ViewBag.Title = "All Wood Projects";

}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-right">
            <p>
                @using (Html.BeginForm("index", "WoodProjects", FormMethod.Get))
                {
                <p>
                    Project Search: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-info" id="searchBtn" />
                </p>
                }
                </p>
            </div>
        </div>
    </div>

@foreach (var project in Model.WoodProjects)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="panel">
                <div class="img-wrap imageContainer" >
                    <img src="@project.ImageURL" class="center-block img-responsive" style=""/>
                </div>
                
            </div>
            <div class="panel">
                <span><strong>Wood Smith:</strong></span> @project.ApplicationUser.UserName 
                <span class="pull-right">@project.PublishDate.ToShortDateString()</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <strong>@project.ProjectTitle.ToUpper()</strong>
                </div>
                <div class="panel-body">
                    <p>
                        @project.DescriptionTrimmed
                    </p>
                </div>
            </div>
            <div class="panel panel-success">
                @Html.ActionLink("See more...", "Details", new { id = project.Id })
            </div>
        </div>
    </div>
}

