@model WoodULike.ViewModels.WoodProjectsWithUsername

@{
    ViewBag.Title = "All Wood Projects";

}

<h2>@ViewBag.Title</h2>

<div class="container">
    
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">
                
                    
                    @using (Html.BeginForm("index", "WoodProjects", FormMethod.Get))
                    {
                        <div class="form-inline">
                            <p class="pull-right">
                                <strong>Project Search:</strong>
                                @Html.DropDownList("SearchProjectType",
                                ViewBag.ProjectTypes as SelectList,
                                "All Categories",
                                new { @class = "form-control" })

                                @Html.TextBox("SearchString","", new { @class = "form-control" })

                                <input type="submit" value="Search" class="btn btn-info" id="searchBtn" />
                            </p>
                        </div>

                    }
               
           
            </div>
        </div>
    </div>
@*<img src="~/Content/Wood_Project_Images/conference table.jpg" />*@

@foreach (var project in Model.WoodProjects)


{
    <div class="row" data-projectid="@project.Id">
        <div class="col-sm-4">
            <div class="panel">
                <div class="img-wrap imageContainer">
                    <img src="@project.getCorrectUrl(project.ImageURL)"  class="center-block img-responsive" style="" />
                </div>
                
            </div>
            <div class="panel">
                <span><strong>Wood Smith:</strong></span> @project.ApplicationUser.UserName 
                <span class="pull-right">@project.PublishDate.ToShortDateString()</span>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-success">
                <div class="panel-heading" >
                    <strong>@project.ProjectTitle.ToUpper()</strong>
                    <span class="pull-right">@project.ProjectType</span>
                </div>
                <div class="panel-body" >
                    <p>
                        @project.DescriptionTrimmed
                    </p>
                </div>
            </div>
            <div class="panel panel-success">
                @Html.ActionLink("See more...", "Details", new { id = project.Id }, new { @id = "detailsLink" })
                
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        

        $('.panel').on('click', function (e) {
            e.preventDefault()
            var projectid = $(this).closest('.row').data('projectid');
            var location = window.location;
            if (location.toString().startsWith("WoodProjects")) {
                window.location.href = "Details/" + projectid;
            } else {
                window.location.href = "WoodProjects/Details/" + projectid
            }    
        })
    });
</script>
