@model IEnumerable<WoodULike.Models.WoodProject>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container">
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <p>
                @using (Html.BeginForm("index", "WoodProjects", FormMethod.Get))
            {
                <p>
                    Project Search: @Html.TextBox("SearchString")
                    <input type="submit" value="Search" class="btn btn-info" id="searchBtn" />
                </p>
                }
                </p>
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        @{
            int cnt1 = 0;
            foreach (var listing in Model)
            {
                if (cnt1 % 2 == 0)
                {
                    <div class="col-md-6">
                        <div class="container projectList">
                            <div class="row">
                                <div class="col-md-8" id="leftSide">
                                    <p class="listingTitle" id="listingProjectName">
                                        @Html.DisplayNameFor(model => model.ProjectTitle)
                                    </p>
                                    <p class="listingDetail" id="listingProjectName">
                                        @Html.DisplayFor(model => listing.ProjectTitle)
                                    </p>
                                    <p class="listingTitle" id="listingProjectImage">
                                        @Html.DisplayNameFor(model => model.ImageURL)
                                    </p>
                                    <div class="img-wrap">
                                        <img src="@Html.DisplayFor(model => listing.ImageURL)" id="listingProjectImage" />
                                    </div>
                                    <p class="listingTitle" id="listingProjectDescription">
                                        @Html.DisplayNameFor(model => model.Description)
                                    </p>
                                    <p class="listingDetail" id="listingProjectDescription">
                                        @Html.DisplayFor(model => listing.Description)
                                    </p>


                                    <p class="listingTitle" id="listingProjectDescription">
                                        @Html.DisplayNameFor(model => model.ProjectType)
                                    </p>
                                    <p class="listingDetail" id="listingProjectDescription">
                                        @Html.DisplayFor(model => listing.ProjectType)
                                    </p>


                                </div>
                                <div class="col-md-4 text-right" id="rightSide">
                                    
                                    <p class="listingDetail" id="listingProjectDate">
                                        @Html.DisplayFor(model => listing.PublishDate)
                                    </p>
                                    <p class="listingDetail" id="listingLinks">
                                        @Html.ActionLink("Edit", "Edit", new { id = listing.ID }) |
                                        @Html.ActionLink("Details", "Details", new { id = listing.ID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = listing.ID })
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                cnt1++;
            }
            int cnt2 = 0;
            foreach (var listing in Model)
            {
                if (cnt2 % 2 != 0)
                {
                <div class="col-md-6">
                    <div class="container projectList">
                        <div class="row">
                            <div class="col-md-8 " id="leftSide">
                                <p class="listingTitle" id="listingProjectName">
                                    @Html.DisplayNameFor(model => model.ProjectTitle)
                                </p>
                                <p class="listingDetail" id="listingProjectName">
                                    @Html.DisplayFor(model => listing.ProjectTitle)
                                </p>
                                <p class="listingTitle" id="listingProjectImage">
                                    @Html.DisplayNameFor(model => model.ImageURL)
                                </p>
                                <div class="img-wrap">
                                    <img src="@Html.DisplayFor(model => listing.ImageURL)" id="listingProjectImage" />
                                </div>
                                <p class="listingTitle" id="listingProjectDescription">
                                    @Html.DisplayNameFor(model => model.Description)
                                </p>
                                <p class="listingDetail" id="listingProjectDescription">
                                    @Html.DisplayFor(model => listing.Description)
                                </p>
                                <p class="listingTitle" id="listingProjectDescription">
                                    @Html.DisplayNameFor(model => model.ProjectType)
                                </p>
                                <p class="listingDetail" id="listingProjectDescription">
                                    @Html.DisplayFor(model => listing.ProjectType)
                                </p>
                            </div>
                            <div class="col-md-4 text-right" id="rightSide">                                
                                <p class="listingDetail" id="listingProjectDate">
                                    @Html.DisplayFor(model => listing.PublishDate)
                                </p>
                                <p class="listingDetail" id="listingLinks">
                                    @Html.ActionLink("Edit", "Edit", new { id = listing.ID }) |
                                    @Html.ActionLink("Details", "Details", new { id = listing.ID }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = listing.ID })
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                    }
                    cnt2++;
                }
            }
    </div>
</div>

<script>
    $(#searchBtn).click(function () {
        (#searchBtn).toggleClass("btn btn-success");
    })
</script>
