@model IEnumerable<WoodULike.Models.WoodProject>

@{
    ViewBag.Title = User.Identity.Name + "'s Wood Projects";

}

<h2>@ViewBag.Title</h2>

<div class="container">

    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-9">


            @using (Html.BeginForm("MyWoodProjects", "WoodProjects", FormMethod.Get))
            {
                <div class="form-inline">
                    <p class="pull-right">
                        <strong>Project Search:</strong>
                        @Html.DropDownList("SearchProjectType",
                                ViewBag.ProjectTypes as SelectList,
                                "All Categories",
                                new { @class = "form-control" })

                        @Html.TextBox("SearchString", "", new { @class = "form-control" })

                        <input type="submit" value="Search" class="btn btn-info" id="searchBtn" />
                    </p>
                </div>

            }


        </div>
    </div>
</div>
@*<img src="~/Content/Wood_Project_Images/conference table.jpg" />*@

@foreach (var project in Model)
{
    <div class="row" data-projectid="@project.Id">
        <div class="col-sm-4">
            <div class="panel">
                <div class="img-wrap imageContainer">
                    <img src="@project.getCorrectUrl(project.ImageURL)" class="center-block img-responsive" style="" />
                </div>

            </div>
            <div class="panel">
                @*<span><strong>Wood Smith:</strong></span> @project.getUserName()*@
                <p><span class="pull-right">@project.PublishDate.ToShortDateString()</span></p>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="panel panel-success" id="woodProjectDescription">
                <div class="panel-heading">
                    <strong>@project.ProjectTitle.ToUpper()</strong>
                    <span class="pull-right">@project.ProjectType</span>
                </div>
                <div class="panel-body">
                    <p>
                        @project.DescriptionTrimmed
                    </p>
                </div>
            </div>
            <div class="panel panel-success">
                @Html.ActionLink("See more...", "Details", new { id = project.Id }, new { @id = "detailsLink" })
            </div>
        </div>
    </div>
}

    @*<div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6 text-right">
                <p>
                    @using (Html.BeginForm("index", "WoodProjects", FormMethod.Get))
                {
                    <p>
                        Project Search: @Html.TextBox("SearchString")
                        <input type="submit" value="Search" class="btn btn-info" id="searchBtn" />
                    </p>
                    }
                    </p>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                @{
                    int cnt1 = 0;
                    foreach (var listing in Model)
                    {
                        if (cnt1 % 2 == 0)
                        {

                            <div class="container projectList pull-left" style="max-width:45%">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="listingTitle pull-left" id="listingProjectName">
                                            @Html.DisplayNameFor(model => model.ProjectTitle): <span class="projectTitleSpan">@Html.DisplayFor(model => listing.ProjectTitle)</span>
                                        </p>
                                        <div class="text-right pull-right">
                                            <p class="listingDetail" id="listingProjectDate">
                                                @Html.DisplayFor(model => listing.PublishDate)
                                            </p>
                                            <p class="listingDetail" id="listingLinks">
                                                @Html.ActionLink("Edit", "Edit", new { id = listing.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = listing.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = listing.Id })
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">



                                        <div class="pull-left">
                                            <div class="img-wrap" id="imageContainer">
                                                <img class="img-responsive" src="@listing.getCorrectUrl(listing.ImageURL)" id="listingProjectImage" />
                                            </div>
                                        </div>
                                        <br />

                                        <p class="listingTitle text-right" id="listingProjectDescription">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </p>
                                        <p class="listingDetail text-right" id="listingProjectDescription">
                                            @Html.DisplayFor(model => listing.Description)
                                        </p>
                                        <br />
                                        <p class="listingTitle text-right" id="listingProjectDescription">
                                            @Html.DisplayNameFor(model => model.ProjectType)
                                        </p>
                                        <p class="listingDetail text-right" id="listingProjectDescription">
                                            @Html.DisplayFor(model => listing.ProjectType)
                                        </p>

                                    </div>
                                </div>

                            </div>

                        }
                        cnt1++;
                    }
                    int cnt2 = 0;

                    foreach (var listing in Model)
                    {
                        if (cnt2 % 2 != 0)
                        {

                            <div class="container projectList pull-left" style="max-width:45%">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="listingTitle pull-left" id="listingProjectName">
                                            @Html.DisplayNameFor(model => model.ProjectTitle): <span class="projectTitleSpan">@Html.DisplayFor(model => listing.ProjectTitle)</span>
                                        </p>
                                        <div class="text-right pull-right">
                                            <p class="listingDetail" id="listingProjectDate">
                                                @Html.DisplayFor(model => listing.PublishDate)
                                            </p>
                                            <p class="listingDetail" id="listingLinks">
                                                @Html.ActionLink("Edit", "Edit", new { id = listing.Id }) |
                                                @Html.ActionLink("Details", "Details", new { id = listing.Id }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = listing.Id })
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">



                                        <div class="pull-left">
                                            <div class="img-wrap" id="imageContainer">
                                                <img class="img-responsive" src="@listing.getCorrectUrl(listing.ImageURL)" id="listingProjectImage" />
                                            </div>
                                        </div>
                                        <br />
                                        <p class="listingTitle text-right" id="listingProjectDescription">
                                            @Html.DisplayNameFor(model => model.Description)
                                        </p>
                                        <p class="listingDetail text-right" id="listingProjectDescription">
                                            @Html.DisplayFor(model => listing.DescriptionTrimmed)
                                        </p>
                                        <br />
                                        <p class="listingTitle text-right" id="listingProjectDescription">
                                            @Html.DisplayNameFor(model => model.ProjectType)
                                        </p>
                                        <p class="listingDetail text-right" id="listingProjectDescription">
                                            @Html.DisplayFor(model => listing.ProjectType)
                                        </p>

                                    </div>
                                </div>

                            </div>

                        }
                        cnt2++;
                    }
                }
            </div>
        </div>*@

<script>
    $(document).ready(function () {

         $('.panel').on('click', function (e) {
            e.preventDefault()
            var projectid = $(this).closest('.row').data('projectid');
            
            window.location.href = '@Url.Action("Details", "WoodProjects")/' + projectid;
        })
    });
</script>

